<div class="slider">
  <ul class="ul-slider">
    <li><img class="presentation" src="../assets/img/presentation.png" alt="presentation"></li>
    <li><img class="presentation" src="../assets/img/slide2.png" alt="presentation"></li>
    <li><img class="presentation" src="../assets/img/slide3.png" alt="presentation"></li>
    <li><img class="presentation" src="../assets/img/slide4.png" alt="presentation"></li>
    <li><img class="presentation" src="../assets/img/slide5.png" alt="presentation"></li>
  </ul>
</div>

<div class="iam">
  <h3 class="text-primary text-center"><b> Hola soy Armando Hernández</b></h3>
  <p class="p-iam">
    Soy una persona comprometida, apasionada de la tecnología, creo firmemente que con innovación
    tecnológica podemos resolver muchos problemas de la vida diaria, me enfoco en dar soluciones a
    diferentes comercios, empresas y startups, creo que juntos podemos hacer cosas impresionantes
    para el mundo.
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h1 class="text-primary">Te ayudamos a llevar tu negocio al siguiente nivel</h1>
      </div>

      <div class="target">
        <img src="../assets/icons/seo.png" alt="pagina-web" class="img-target">
        <h4 class="text-primary">Sitios web</h4>
        <p>
          En la actualidad es de suma importancia tener presencia en los medios 
          digitales para dar que tus productos o servicios lleguen a mas personas.
        </p>
      </div>

      <div class="target">
        <img src="../assets/icons/computadora-portatil.png" alt="e-commerce" class="img-target">
        <h4 class="text-primary">E-commerce</h4>
        <p>
          ¿Te haz puesto a pensar la cantidad de dinero que debes de invertir para tener un local
          para vender tus productos, los riesgos que puedes llegar a tener por un local presencial,
          tu local solo cubre clientes vecinos? Nosotros te ayudamos a poner tu sitio <b>E-Commerce</b> así podrás vender desde
          tu sitio web y podrás llegar a mas clientes
        </p>
      </div>

      <div class="target">
        <img src="../assets//icons/app.png" alt="apps" class="img-target">
        <h4 class="text-primary">Apps Multiplataforma</h4>
        <p>
          Desarrollamos aplicaciones pensadas en ti para cualquier dispositivo, gestiona tu 
          organizacion desde tu casa con una app móvil <b>Android</b> o <b>iOS</b>, atiende 
          las solicitudes de tus clientes con una aplicación <b>Web</b>, administra las tareas de
          tu equipo con una aplicación de escritorio para <b>Windows</b>, <b>Linux</b> ó 
          <b>Mac</b><b> por ejemplo.</b>
        </p>
      </div>

      <div class="target">
        <img src="../assets/icons/computacion-en-la-nube.png" alt="nube" class="img-target">
        <h4 class="text-primary">Soluciones en la nube</h4>
        <p>
          Seguridad de la información, escalabilidad, disponibilidad entre otros son algunos de
          los beneficios al tener tu infraestructura en la nube, te damos soluciones con los
          proveedores de nube más importantes como...
        </p>
        <ul>
          <img src="../assets/icons/mouse.png" alt="nube" class="viñeta"><a href="#">Azure</a><br>
          <img src="../assets/icons/mouse.png" alt="nube" class="viñeta"><a href="#">AWS</a><br>
          <img src="../assets/icons/mouse.png" alt="nube" class="viñeta"><a href="#">Google Cloud</a>
        </ul>
      </div>
      <div class="target">
        <img src="../assets/icons/inteligencia-artificial.png" alt="ia" class="img-target">
        <h4 class="text-primary">Soluciones de IA</h4>
        <p>
          La <b>IA</b> y el <b>Aprendizaje Automático</b> es capaz de optimizar muchos recursos de tu
          organización
        </p>
      </div>
      
      <div class="target">
        <img src="../assets/icons/teclado.png" alt="hardware" class="img-target">
        <h4 class="text-primary">Hardware, accesorios y mantenimiento</h4>
        <p>
          Hardware pensado en ti, sin cosas que falten, te ayudamos a ensamblar tu equipo de 
          computo, seleccionas las cosas que necesitas o bien nosotros te asesoramos con 
          base a tus requerimientos.
        </p>
        <p>
          Cubrimos:
        </p>
        <ul>
          <img src="../assets/icons/mouse.png" alt="nube" class="viñeta">
          <a>Ensamblado de equipo</a><br>
          <img src="../assets/icons/mouse.png" alt="nube" class="viñeta">
          <a>Asesoria para ti</a><br>
          <img src="../assets/icons/mouse.png" alt="nube" class="viñeta">
          <a>Mantenimiento</a><br>
          <img src="../assets/icons/mouse.png" alt="nube" class="viñeta">
          <a>Los mejores accesorios de las mejores marcas</a><br>
        </ul>
      </div>

      <div class="target-1">
        <img src="../assets/icons/antena-parabolica.png" alt="antena" class="img-target1">
        <img src="../assets/icons/red.png" alt="redes" class="img-target1">
        <h4 class="text-primary">Redes y Telecomunicaciones</h4>
        <p>
          Es de suma importancia la comunicacion entre dispositivos de tu empresa, te ofrecemos
          una solucion rápida y pensada solo en ti, te ayudamos en...
        </p>
        <ul>
          <img src="../assets/icons/mouse.png" alt="nube" class="viñeta">
          <a>Soporte y mantenimiento</a><br>
          <img src="../assets/icons/mouse.png" alt="nube" class="viñeta">
          <a>Migraciones</a><br>
          <img src="../assets/icons/mouse.png" alt="nube" class="viñeta">
          <a>Reestructuración de instalación</a><br>
          <img src="../assets/icons/mouse.png" alt="nube" class="viñeta">
          <a>instalación de videovigilancia</a><br>
        </ul>
      </div>
      <div class="text-center">
        <h1 class="text-primary text-center">
          Tenemos una solución para tu problema, danos la oportunidad de ayudarte
        </h1>
        <img class="final" src="../assets/icons/ingeniero-soft.png" alt="final">
      </div>
  </div>
</div>

<!-- <app-contact></app-contact>-->