<img class="presentation" src="../assets/img/presentation.png" alt="">

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h1 class="text-primary">Te ayudamos a llevar tu negocio al siguiente nivel</h1>
      </div>

      <div class="">
        <img src="../assets/icons/seo.png" alt="pagina-web">
        <h4 class="text-primary">Sitios web</h4>
        <p>
          En la actualidad es de suma importancia tener presencia en los medios digitales para dar que tus
          productos o servicios lleguen a mas personas.
        </p>

        <img src="../assets/icons/computadora-portatil.png" alt="e-commerce">
        <h4 class="text-primary">E-commerce</h4>
        <p>
          ¿Te haz puesto a pensar la cantidad de dinero que debes de invertir para tener un local para vender
          tus productos, los riesgos que puedes llegar a tener por un local presencial, tu local solo cubre
          clientes vesinos? Nosotros te ayudamos a poner tu sitio <b>E-Commerce</b> así podrás vender desde
          tu sitio web y podrás llegar a mas clientes
        </p>

        <img src="../assets//icons/app.png" alt="apps">
        <h4 class="text-primary">Apps Multiplataforma</h4>
        <p>
          Desarrollamos aplicaciones pensadas en ti para cualquier dispositivo, gestiona tu organizacion desde
          tu casa con una app móvil <b>Android</b> o <b>iOS</b>, atiende las solicitudes de tus clientes con
          una aplicación <b>Web</b>, administra las tareas de tu equipo con una aplicación de escritorio para
          <b>Windows</b>, <b>Linux</b> o <b>Mac</b><b> por eejemplo</b>
        </p>

        <img src="../assets/icons/computacion-en-la-nube.png" alt="nube">
        <h4 class="text-primary">Soluciones en la nube</h4>
        <p>
          Seguridad de la información, escalabilidad, disponibilidad entre otros son algunos de los beneficios
          al tener tu infraestructura en la nube, te damos soluciones con los probeedores de nube más
          importantes como...
        </p>
        <ul>
          <li><a href="#">Azure</a></li>
          <li><a href="#">AWS</a></li>
          <li><a href="#">Google Cloud</a></li>
        </ul>

        <img src="../assets/icons/inteligencia-artificial.png" alt="ia">
        <h4 class="text-primary">Soluciones de IA</h4>
        <p>
          La <b>IA</b> y el <b>Aprendizaje Automático</b> es capaz de optimizar muchos recursos de tu
          organización
        </p>

        <img src="../assets/icons/antena-parabolica.png" alt="antena">
        <img src="../assets/icons/red.png" alt="redes">
        <h4 class="text-primary">Redes y Telecomunicaciones</h4>
        <p>
          Es de suma importancia la comunicacion entre dispositivos de tu empresa, te ofrecemos una solucion
          rápida y pensada solo en ti, te ayudamos en...
        </p>
        <ul>
          <li>Soporte y mantenimiento</li>
          <li>Migraciones</li>
          <li>Reesturcturación de instalación</li>
          <li>instalación de videovigilancia</li>
        </ul>

        <img src="../assets/icons/teclado.png" alt="hardware">
        <h4 class="text-primary">Hardware, accesorios y mantenimiento</h4>
        <p>
          Hardware pensado en ti, sin cosas que falten, te ayudamos a ensamblar tu equipo de computo, tu
          seleccionas las cosas que necesitas o bien nosotros te asesoramos con base a tus requerimientos
        </p>
        <p>
          Cubirmos:
        </p>
        <ul>
          <li>Ensamblado de equipo</li>
          <li>Asesoria para ti</li>
          <li>Mantenimiento</li>
          <li>Los mejores accesorios de las mejores marcas</li>
        </ul>

        <p class="text-center">
          Tenemos una solución para tu problema, danos la oportunidad de ayudarte
        </p>
      </div>
    </div>
  </div>
</div>
