*{
  text-decoration: none;
}

.slider{
  width: 80%;
  height: 600px;
  margin: auto;
  margin-top: 5px;
  overflow: hidden; //oculta los componentes fuera de éste
}

.ul-slider{
  padding: 0;
  width: 500%;
  display: flex;

  animation: cambio 25s infinite;
  animation-direction: alternate;//alterna la direccion del slide
  animation-timing-function: ease-in; // Da el tipo de la transicion
}

li{
  list-style: none;
  width: 100%;
}

.presentation{
  width: 100%;
  height: 600px;
  border-radius: 10px;
}

/* ****************************** Animación de Slide **************************** */
  @keyframes cambio {
    0%{ margin-left: 0;}
    17%{ margin-left: 0;}

    20%{ margin-left: -100%;}
    37% { margin-left: -100%;}

    40%{ margin-left: -200%;}
    57% { margin-left: -200%;}

    60%{ margin-left: -300%;}
    77% { margin-left: -300%;}

    80%{ margin-left: -400%;}
    100% { margin-left: -400%;}
  }
/* ****************************** Termino de Slide **************************** */
.iam{
  width: 80%;
  margin: auto;
  border: 2px solid #A9CCE3;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
}

.p-iam{
  text-align: justify;
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
}

.text-center{
  margin-top: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 40px;
}

.target{
  width: 30%;
  margin: 1%;
  display: inline-table;
  margin: 1%;
  text-align: justify;
}

.img-target{
  width: 80%;
  margin-left: 10%;
  color: black;
}

h4{
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}

.viñeta{
  width: 30px;
  margin-top: 8px;
  margin-right: 10px;
}

p,a{
  font-family:Arial, Helvetica, sans-serif;
  color: black;
  font-size: 17px;
}

.target-1{
  width: 30%;
  margin: 1%;
  display: inline-table;
  margin-left: 31%;
  text-align: justify;
}

.img-target1{
  width: 50%;
}

.final{
  width: 30%;
}