<div class="contenedor">
    <div class="banner">
        <img src="./assets/img/banner4.png" alt="Banner" class="img-banner">
        <h1 class="nosotros">Nosotros</h1>
    </div>

    <div class="div-nosotros">
        <div class="nosotros-info">
            <h2 class="h2-nosotros">Nosotros</h2>
            <p>
                Somos un grupo de trabajo comprometido y apasionado por la tecnología, 
                creemos firmemente que con innovación tecnológica podemos resolver muchos 
                problemas de la vida diaria, nos enfocamos en dar soluciones a diferentes 
                comercios, empresas y startups, sabemos que juntos podemos hacer cosas 
                impresionantes para el mundo.
            </p>
        </div>
        <div class="nosotros-img">
            <img src="./assets/img/banner2.jpg" alt="Nosotros" class="img-nosotros">
        </div>
    </div>

    <div class="div-mision">
        <div class="mision-img">
            <img src="./assets/img/mision1.jpg" alt="Mision" class="img-mision">
        </div>
        <div class="mision-info">
            <h2 class="h2-mision">Misión</h2>
            <p> Implementar las mejores soluciones que se adecuen a los requerimientos
                de nuestros clientes, con la presencia de la innovación a precios 
                accesibles/justos.                
            </p>
        </div>
    </div>

    <div class="div-vision">
        <div class="vision-info">
            <h2 class="h2-vision">Visión</h2>
            <p>Nuestra Visión es desarrollar soluciones innovadoras de acuerdo al entorno
                actual que permitan facilitar la publicación de nuevos negocios, empresas y 
                sus productos, así mismo hacer más accesible la realización de las 
                actividades laborales de nuestros clientes.
            </p>
        </div>
        <div class="vision-img">
            <img src="./assets/img/vision1.jpg" alt="Vision" class="img-vision">
        </div>
    </div>

    <div class="div-valores">
        <div class="valores-img">
            <img src="./assets/img/valores1.png" alt="Valores" class="img-valores">
        </div>
        <div class="valores-info">
            <h2 class="h2-valores">Valores</h2>
            <ul>
                <li class="i-valores">Honestidad</li>
                <li class="i-valores">Responsabilidad Social</li>
                <li class="i-valores">Innovación y Calidad</li>
                <li class="i-valores">Confianza</li>
                <li class="i-valores">Compromiso</li>
            </ul>
        </div>
    </div>

</div>

