<div class="contenedor" >
    <img src="../assets/img/img-form4.png" alt="img-form" class="img-form">
    
    <form action="" class="">
        <h3 class="text-center">Contactanos</h3>
        <input type="text" class="form-control" placeholder="Nombre Personal">
        <br>
        <label for="">Soy: </label>
        <select name="" id="">
            <option value="" class="form-control option"> --- Seleccione --- </option>
            <option value="" class="form-control option">Parte de una Empresa</option>
            <option value="" class="form-control option">Persona Independiente</option>
        </select>
        <input type="text" class="form-control" placeholder="Nombre de Empresa o Negocio">
        <br>
        <input type="email" class="form-control" placeholder="Correo Electrónico">
        <br>
        <input type="text" class="form-control" placeholder="Número Telefonico">
        <br>
        <textarea name="" id="" cols="30" rows="7" class="form-control" 
        placeholder="Escriba su Mensaje... "></textarea>
        <br>

        <button class="btn btn-info">Enviar</button>
    </form>
</div>
