<div class="contenedor">
    <div class="banner">
        <img src="./assets/img/hardware1.jpg" alt="Banner Hardware" class="img-banner">
        <h1 class="h1-hardware">Hardware</h1>
    </div>

    <div class="lista-servicios">
        <div class="tarjeta-hardware">
            <h2>Soporte Técnico</h2>
            <img src="./assets/img/hardware2.jpg" alt="Tarjeta Hardware" class="img-tarjeta">
            <h5>Descripción:</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed aliquam 
                magnam blanditiis voluptatum hic eligendi laborum eius magni sint facilis
                 neque optio voluptas qui, obcaecati explicabo, iure veniam dolorum.</p>
        </div>
        <div class="tarjeta-hardware">
            <h2>Soporte Técnico</h2>
            <img src="./assets/img/hardware2.jpg" alt="Tarjeta Hardware" class="img-tarjeta">
            <h5>Descripción:</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed aliquam 
                magnam blanditiis voluptatum hic eligendi laborum eius magni sint facilis
                 neque optio voluptas qui, obcaecati explicabo, iure veniam dolorum.</p>
        </div>
        <div class="tarjeta-hardware">
            <h2>Soporte Técnico</h2>
            <img src="./assets/img/hardware2.jpg" alt="Tarjeta Hardware" class="img-tarjeta">
            <h5>Descripción:</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed aliquam 
                magnam blanditiis voluptatum hic eligendi laborum eius magni sint facilis
                 neque optio voluptas qui, obcaecati explicabo, iure veniam dolorum.</p>
        </div>
        <div class="tarjeta-hardware">
            <h2>Soporte Técnico</h2>
            <img src="./assets/img/hardware2.jpg" alt="Tarjeta Hardware" class="img-tarjeta">
            <h5>Descripción:</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem sed aliquam 
                magnam blanditiis voluptatum hic eligendi laborum eius magni sint facilis
                 neque optio voluptas qui, obcaecati explicabo, iure veniam dolorum.</p>
        </div>
    </div>
</div>
