<div class="contenedor">
    <div class="hardware">
        <img src="./assets/img/ondas-colores.jpg" alt="Servicios Hardware" class="img-hardware">
        <div class="info-hardware">
            <h2>Hardware</h2>
            <img src="./assets/icons/teclado.png" alt="Servicios Hardware" class="img-hardware-enc">
            <ul>
                <li><h4>Soporte Técnico a Equipo de Cómputo</h4>
                <li><h4>Mantenimiento a Equipo de Cómputo</h4></li>
                <li><h4>Refacciones</h4></li>
                <li><h4>Armado de PC´s Personalizada</h4></li>
            </ul>
            <a class="navLink" routerLink="/hardware">
                <button class="btn btn-info">Ver Más</button>
            </a>
        </div>
    </div>
    <div class="software">
        <img src="./assets/img/ondas-colores.jpg" alt="Servicios Software" class="img-software">
        <div class="info-software">
            <h2>Software</h2>
            <img src="./assets/icons/app.png" alt="Servicios Hardware" class="img-software-enc">
            <br>
            <ul>
                <li><h4>Aplicaciones Multiplataforma</h4>
                <li><h4>Sitios Web </h4></li>
                <li><h4>E-commerce</h4></li>
                <li><h4>Soluciones en la Nube</h4></li>
            </ul>
            <a class="navLink" routerLink="/software">
                <button class="btn btn-info">Ver Más </button>
            </a>
        </div>
    </div>
</div>