<footer class="">

  <div class="intro">
    <p class="p-intro">
      Somos un grupo de trabajo comprometido y apasionado por la tecnología, 
      creemos firmemente que con innovación tecnológica podemos resolver muchos 
      problemas de la vida diaria, nos enfocamos en dar soluciones a diferentes 
      comercios, empresas y startups, sabemos que juntos podemos hacer cosas 
      impresionantes para el mundo.
    </p>
  </div>

  <div class="info">
    <div class="col1">
      <h3 class="text-center">Siguenos en</h3>
      <img src="./assets/social/facebook.png" alt="facebook" class="social"><a href="">HernanCodeOf</a>
      <br>
      <img src="./assets/social/instagram.png" alt="instagram" class="social"><a href="">HernanCodeOf</a>
    </div>
    <div class="col2">
      <h3 class="text-center">Recursos</h3>
      <ul>
        <li><a href="">Terminos y Condiciones</a></li>
        <li><a href="">Privacidad</a></li>
        <li><a href="">Licencias</a></li> 
      </ul>
    </div>
    <div class="col3">
      <h3 class="text-center">Te puede Interesar</h3>
      <ul>
        <li><a href="">Blog</a></li>
        <li><a href="">Servicios</a></li>
        <li><a href="">Soluciones</a></li>
      </ul>
    </div>
    <div class="col4">
      <h3 class="text-center">Contacto</h3>
      <img src="./assets/social/gmail.png" alt="Gmail" class="social"> 
        <a href="" class="a-correo"> hernancode@gmail.com</a>
      <br>
      <img src="./assets/social/llamada.png" alt="Telefono" class="social"><a href="">55-00-00-00-00</a>
      <br>
      <img src="./assets/social/ubicacion.png" alt="Ubicación" class="social"><a href="">Nezahualcoyotl, EdoMex </a>
    </div>
  </div>

  <div class="Copyright">
    <p class="p-copy"> © 2021 Copyright: </p>
    <!--<a class="text-dark text-center" href="#">Hernancode</a>-->
    <img src="../assets/logo/logo-completo.png" alt="logo-completo" class="logo">
  </div>
  
</footer>
